<%- include('partials/header') -%>

<h1>Homepage</h1>

    <% tweets.forEach (function(tweet) { %>
        <h2> <%= tweet.title %> </h2>
        <p> <%= tweet.content.substring(0, 100) + " ..." %> <a href="/tweets/<%=tweet.id%>" >Read more</a> </p>
    <% }) %>

<%- include('partials/footer') -%>